{% extends "voice/voiceBase.html" %}
{% load static %}

{% block content %}
<div id="video-home">
    <video id="local-video" playsinline="" autoplay="" muted="" class="webrtc-video"></video>
    <video id="local-screen-video" playsinline="" autoplay="" muted="" class="webrtc-video hidden"></video>
    <button id="toggle-screen-stream-button">Screen</button>
</div>
{% endblock %}

{% block extra_script %}
{{ room_code|json_script:"room-code" }}
<script src="{% static 'voice/js/pageModife.js' %}"></script>
<script src="{% static 'voice/js/webrtcClient.js' %}"></script>
{% endblock %}