{% extends "game/sudokuBase.html" %}

{% block content %}
<div class="mini-menu-container">
    <form method="post" class="create-lobby-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="{{ form.nick.id_for_label }}">Nick:</label>{{ form.nick }}
        </div>
        <div>
            <label for="{{ form.code.id_for_label }}">Code:</label>{{ form.code }}
        </div>
        <input type="submit" value="Угусь!">
    </form>
</div>
{% endblock %}